{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block h1 %}
Welcome to BookReviewHub!
{% endblock %}

{% block body %}
<div>
    <h3>Navigation:</h3>
    <ul>
        <li><a href="{{url_for('registration')}}">Registration</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        <li><a href="{{url_for('search')}}">Search For Book</a></li>
    </ul>
</div>

<div>
    <p>
        Logged in as: {{Sess['username']}}        
    </p>
</div> 

{% endblock %}
